Repository COS301-SE-2021/GeoCode, pull requests merged in 2021-09, with the labels that each got.

#403 Improved UpdateGeoCode
  backend/src/main/java/tech/geocodeapp/geocode/geocode/request/UpdateGeoCodeRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableTypeMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
Labels: enhancement, GeoCode

#398 CreateGeoCodeRequests passed to createEvents and createGeoCode optionally taking an EventComponent
  backend/pom.xml
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/EventComponent.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/CreateEventRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/service/EventServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/general/security/CurrentUserDetails.java
  backend/src/main/java/tech/geocodeapp/geocode/general/security/NewUserInterceptor.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/request/CreateGeoCodeRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/user/controller/UserApi.java
  backend/src/main/java/tech/geocodeapp/geocode/user/controller/UserApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/user/model/User.java
  backend/src/main/java/tech/geocodeapp/geocode/user/request/HandleLoginRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/user/request/RegisterNewUserRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/user/response/RegisterNewUserResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserService.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableSetMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/LeaderboardMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/LeaderboardServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/LeaderboardServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/PointMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/UserMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/mission/MissionMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/user/MockSecurity.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplTest.java
Labels: GeoCode, Event, Blockly

#404 Additions for Blockly Events
  backend/pom.xml
  backend/src/main/java/tech/geocodeapp/geocode/event/blockly/Block.java
  backend/src/main/java/tech/geocodeapp/geocode/event/blockly/TestCase.java
  backend/src/main/java/tech/geocodeapp/geocode/event/controller/EventApi.java
  backend/src/main/java/tech/geocodeapp/geocode/event/controller/EventApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/BlocklyEventDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/ConcreteEvent.java
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/EventComponent.java
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/EventDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/event/factory/BasicEventFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/event/factory/BlocklyEventFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/event/manager/EventManager.java
  backend/src/main/java/tech/geocodeapp/geocode/event/model/Event.java
  backend/src/main/java/tech/geocodeapp/geocode/event/repository/UserEventStatusRepository.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/CheckOutputRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/CreateLeaderboardRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetBlocksRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetEventDetailsByIDRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetInputsRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/response/CheckEventAndUserResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/event/response/CheckOutputResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/event/response/CreateLeaderboardResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/event/response/GetBlocksResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/event/response/GetInputsResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/event/service/EventService.java
  backend/src/main/java/tech/geocodeapp/geocode/event/service/EventServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/event/GeoCodeMockService.java
Labels: Event, Blockly

#412 Better feedback on GeoCode subsystem responses
  backend/src/main/java/tech/geocodeapp/geocode/geocode/controller/GeoCodeApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/response/CreateGeoCodeResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/response/SwapCollectablesResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/response/UpdateAvailabilityResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/response/UpdateGeoCodeResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/event/GeoCodeMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
Labels: GeoCode

#413 Testing for blockly
  backend/src/main/java/tech/geocodeapp/geocode/event/blockly/Block.java
  backend/src/main/java/tech/geocodeapp/geocode/event/blockly/TestCase.java
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/BlocklyEventDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/ConcreteEvent.java
  backend/src/main/java/tech/geocodeapp/geocode/event/factory/BlocklyEventFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/event/manager/EventManager.java
  backend/src/main/java/tech/geocodeapp/geocode/event/model/Event.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/CheckOutputRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetBlocksRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetEventDetailsByIDRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetInputsRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/service/EventServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/general/CheckNullRequestParameters.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/controller/LeaderboardApiController.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/event/GeoCodeMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/event/blockly/blocks/too_few_blocks.json
  backend/src/test/java/tech/geocodeapp/geocode/event/blockly/blocks/valid1.json
  backend/src/test/java/tech/geocodeapp/geocode/event/blockly/testCases/inconsistent_num_inputs.json
  backend/src/test/java/tech/geocodeapp/geocode/event/blockly/testCases/valid1.json
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/UserMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/user/MockSecurity.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplTest.java
Labels: Event, Blockly

#416 Added more testing
  backend/src/main/java/tech/geocodeapp/geocode/geocode/controller/GeoCodeApi.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
Labels: GeoCode

#420 Implemented unit and integration tests for Event
  backend/src/main/java/tech/geocodeapp/geocode/event/blockly/Block.java
  backend/src/main/java/tech/geocodeapp/geocode/event/blockly/TestCase.java
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/BlocklyEventDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/event/decorator/ConcreteEvent.java
  backend/src/main/java/tech/geocodeapp/geocode/event/factory/BlocklyEventFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/event/manager/EventManager.java
  backend/src/main/java/tech/geocodeapp/geocode/event/model/Event.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/CheckOutputRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetBlocksRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetInputsRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/service/EventServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/general/CheckNullRequestParameters.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/controller/LeaderboardApiController.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/event/EventServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/event/GeoCodeMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/event/blockly/blocks/too_few_blocks.json
  backend/src/test/java/tech/geocodeapp/geocode/event/blockly/blocks/valid1.json
  backend/src/test/java/tech/geocodeapp/geocode/event/blockly/testCases/inconsistent_num_inputs.json
  backend/src/test/java/tech/geocodeapp/geocode/event/blockly/testCases/valid1.json
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/UserMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/user/MockSecurity.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplTest.java
Labels: Event

#425 removed storing the user's location for the user trackable's first location
  backend/src/main/java/tech/geocodeapp/geocode/collectable/service/CollectableServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableServiceImplTest.java
Labels: Collectable
