Repository COS301-SE-2021/GeoCode, pull requests merged in 2021-06, with the labels that each got.

#120 Update CollectableType and response objects
  backend/pom.xml
  backend/src/main/java/io/swagger/api/CollectableApi.java
  backend/src/main/java/io/swagger/api/CollectableApiController.java
  backend/src/main/java/io/swagger/model/Collectable.java
  backend/src/main/java/io/swagger/model/CollectableSet.java
  backend/src/main/java/io/swagger/model/CollectableType.java
  backend/src/main/java/io/swagger/model/CreateCollectableTypeRequest.java
  backend/src/main/java/io/swagger/model/GetCollectableTypesBySetRequest.java
  backend/src/main/java/io/swagger/model/GetCollectableTypesResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Context/CollectableTypeContext.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Decorator/CollectableTypeComponent.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Decorator/CollectableTypeDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Decorator/ConcreteCollectableType.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Decorator/ExpiringCollectableTypeDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Decorator/GeofencedCollectableTypeDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Decorator/TrackableCollectableTypeDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Factory/AbstractCollectableTypeFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Factory/BasicCollectableTypeFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Factory/ExpiringCollectableTypeFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Factory/GeofencedCollectableTypeFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Factory/TrackableCollectableTypeFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Manager/CollectableTypeManager.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Service/CollectableService.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Service/CollectableServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Strategy/BasicCollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Strategy/CollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Strategy/ExpiringCollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Strategy/GeofencedCollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Strategy/TrackableCollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/Collectable/CollectableMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/Collectable/CollectableServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/Collectable/CollectableSetMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/Collectable/CollectableTypeMockRepository.java
Labels: Collectable

#122 Fix checking properties HashMap
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Manager/CollectableTypeManager.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Response/CreateCollectableTypeResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Service/CollectableServiceImpl.java
Labels: Collectable

#124 Dev/app geocode
  frontend/.gitignore
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/geocode/geocode-contents/geocode-contents-routing.module.ts
  frontend/src/app/geocode/geocode-contents/geocode-contents.module.ts
  frontend/src/app/geocode/geocode-contents/geocode-contents.page.html
  frontend/src/app/geocode/geocode-contents/geocode-contents.page.scss
  frontend/src/app/geocode/geocode-contents/geocode-contents.page.spec.ts
  frontend/src/app/geocode/geocode-contents/geocode-contents.page.ts
  frontend/src/app/geocode/geocode-create/geocode-create-routing.module.ts
  frontend/src/app/geocode/geocode-create/geocode-create.module.ts
  frontend/src/app/geocode/geocode-create/geocode-create.page.html
  frontend/src/app/geocode/geocode-create/geocode-create.page.scss
  frontend/src/app/geocode/geocode-create/geocode-create.page.spec.ts
  frontend/src/app/geocode/geocode-create/geocode-create.page.ts
  frontend/src/app/geocode/geocode-routing.module.ts
  frontend/src/app/geocode/geocode.page.html
  frontend/src/app/geocode/geocode.page.scss
  frontend/src/app/geocode/geocode.page.ts
  frontend/src/app/tabs/tabs-routing.module.ts
  frontend/src/app/tabs/tabs.page.html
  frontend/src/app/tabs/tabs.page.scss
  frontend/src/app/tabs/tabs.page.ts
  frontend/src/assets/images/CalendarIconWht.svg
  frontend/src/assets/images/GeoCode LogoB&W.svg
  frontend/src/assets/images/GeoCodeLogoWhite.svg
  frontend/src/assets/images/calendarBlack.png
  frontend/src/assets/images/calendarIconBlk.svg
  frontend/src/assets/images/calendarWhite.png
  frontend/src/assets/images/coinBlack.png
  frontend/src/assets/images/coinFilledIn.png
  frontend/src/assets/images/coinWhite.png
  frontend/src/assets/images/coinbagiconBlkOutline.svg
  frontend/src/assets/images/coinbagiconWht.svg
  frontend/src/assets/images/logoBlack.png
  frontend/src/assets/images/logoWhite.png
  frontend/src/index.html
  frontend/src/main.ts
  frontend/src/theme/variables.scss
Labels: Application

#129 Update Response Objects
  .github/workflows/deploy.yml
  .github/workflows/sonarcloud.yml
  .travis.yml
  README.md
  backend/src/main/java/io/swagger/api/ApiException.java
  backend/src/main/java/io/swagger/api/ApiOriginFilter.java
  backend/src/main/java/io/swagger/api/ApiResponseMessage.java
  backend/src/main/java/io/swagger/api/GeoCodeApi.java
  backend/src/main/java/io/swagger/api/GeoCodeApiController.java
  backend/src/main/java/io/swagger/api/NotFoundException.java
  backend/src/main/java/io/swagger/api/UserApi.java
  backend/src/main/java/io/swagger/api/UserApiController.java
  backend/src/main/java/io/swagger/configuration/SwaggerDocumentationConfig.java
  backend/src/main/java/io/swagger/configuration/SwaggerUiConfiguration.java
  backend/src/main/java/io/swagger/model/CreateCollectableRequest.java
  backend/src/main/java/io/swagger/model/CreateCollectableSetRequest.java
  backend/src/main/java/io/swagger/model/CreateCollectableTypeRequest.java
  backend/src/main/java/io/swagger/model/CreateGeoCodeRequest.java
  backend/src/main/java/io/swagger/model/CreateGeoCodeResponse.java
  backend/src/main/java/io/swagger/model/GeoCode.java
  backend/src/main/java/io/swagger/model/GetCollectableByTypeRequest.java
  backend/src/main/java/io/swagger/model/GetCollectableSetsResponse.java
  backend/src/main/java/io/swagger/model/GetCollectableTypeByRarityRequest.java
  backend/src/main/java/io/swagger/model/GetCollectableTypesBySetRequest.java
  backend/src/main/java/io/swagger/model/GetCollectableTypesResponse.java
  backend/src/main/java/io/swagger/model/GetCollectablesRequest.java
  backend/src/main/java/io/swagger/model/GetCollectablesResponse.java
  backend/src/main/java/io/swagger/model/GetGeoCodeByLocationRequest.java
  backend/src/main/java/io/swagger/model/GetGeoCodeByLocationResponse.java
  backend/src/main/java/io/swagger/model/GetGeoCodeByQRCodeRequest.java
  backend/src/main/java/io/swagger/model/GetGeoCodeByQRCodeResponse.java
  backend/src/main/java/io/swagger/model/GetGeoCodesByDifficultyRequest.java
  backend/src/main/java/io/swagger/model/GetGeoCodesByDifficultyResponse.java
  backend/src/main/java/io/swagger/model/GetGeoCodesResponse.java
  backend/src/main/java/io/swagger/model/GetHintsRequest.java
  backend/src/main/java/io/swagger/model/GetHintsResponse.java
  backend/src/main/java/io/swagger/model/GetTrackablesRequest.java
  backend/src/main/java/io/swagger/model/GetTrackablesResponse.java
  backend/src/main/java/io/swagger/model/SwapCollectablesRequest.java
  backend/src/main/java/io/swagger/model/SwapCollectablesResponse.java
  backend/src/main/java/io/swagger/model/UpdateAvailabilityRequest.java
  backend/src/main/java/io/swagger/model/UpdateAvailabilityResponse.java
  backend/src/main/java/io/swagger/model/User.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Service/GeoCodeService.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Service/GeoCodeServiceImpl.java
  backend/src/main/resources/application.properties
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplTest.java
  swagger.yaml
Labels: Collectable

#130 Dev/collectable
  backend/src/main/java/io/swagger/model/Collectable.java
  backend/src/main/java/io/swagger/model/GetCollectablesResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Response/CollectableResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Response/CreateCollectableResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Service/CollectableServiceImpl.java
Labels: Collectable

#136 Config Into Development
  .github/workflows/deploy.yml
  .github/workflows/sonarcloud.yml
Labels: enhancement

#140 GeoCode Subsystem with partial testing
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplTest.java
Labels: GeoCode, bug, enhancement

#143 Unit Test fix
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplTest.java
Labels: GeoCode

#144 Refactored getCollectableTypeBySet to be called getCollectableTypesBySet
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Controller/CollectableApi.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Controller/CollectableApiController.java
Labels: Collectable, bug

#145 Fix request mapping for getCollectableTypesBySet
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Controller/CollectableApi.java
Labels: Collectable, bug

#151 Fixed GeoCode mapping
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Model/GeoCode.java
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplIT.java
Labels: GeoCode, enhancement

#157 Dev/app geocode
  frontend/package-lock.json
  frontend/src/app/services/geocode-api/model/getGeoCodeByQRCodeRequest.ts
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.html
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.scss
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.ts
  frontend/src/app/tabs/geocode/geocode-create/geocode-create.page.ts
  frontend/src/app/tabs/geocode/geocode.page.html
  frontend/src/app/tabs/geocode/geocode.page.scss
  frontend/src/app/tabs/geocode/geocode.page.ts
Labels: Application

#155 Implement integration tests in Collectable
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Controller/CollectableApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/Collectable/Service/CollectableServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/Collectable/CollectableServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/Collectable/CollectableServiceImplTest.java
  backend/src/test/resources/application.properties
Labels: Collectable

#159 Integration Testing
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Controller/GeoCodeApi.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Controller/GeoCodeApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Exceptions/NotFoundException.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Model/GeoCode.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/QRImages/QRCode.jpg
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Repository/GeoCodeRepository.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Request/GetCollectablesRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Request/GetGeoCodeByQRCodeRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Request/GetGeoCodesByDifficultyRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Request/GetHintsRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Request/SwapCollectablesRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Request/UpdateLocationRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/GetCollectablesResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/GetGeoCodeByLocationResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/GetGeoCodeByQRCodeResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/GetGeoCodesByDifficultyResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/GetGeoCodesResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/GetHintsResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/SwapCollectablesResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/UpdateAvailabilityResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/UpdateLocationResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Service/GeoCodeService.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplTest.java
Labels: GeoCode, enhancement

#164 Dev/app geocode
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.html
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.scss
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.ts
  frontend/src/app/tabs/geocode/geocode-create/geocode-create.page.scss
  frontend/src/app/tabs/geocode/geocode.page.scss
Labels: Application

#160 GeoCode removed unused imports
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Model/GeoCode.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Request/CreateGeoCodeRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Request/SwapCollectablesRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Response/GetHintsResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/GeoCode/Service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/GeoCode/GeoCodeServiceImplTest.java
Labels: GeoCode

#166 Dev/app
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.html
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.scss
  frontend/src/app/tabs/geocode/geocode-contents/geocode-contents.page.ts
  frontend/src/app/tabs/geocode/geocode-create/geocode-create.page.scss
  frontend/src/app/tabs/geocode/geocode.page.scss
Labels: Application

#165 Dev/user
  backend/src/main/java/tech/geocodeapp/geocode/User/Controller/UserApi.java
  backend/src/main/java/tech/geocodeapp/geocode/User/Controller/UserApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/User/Request/BlockUserRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/User/Request/GetMyGeocodeRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/User/Request/SetAdminRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/User/Request/SwapCollectableRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/User/Response/GetMyGeocodeResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/User/Response/SwapCollectableResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/User/Service/UserService.java
  backend/src/test/java/tech/geocodeapp/geocode/User/UserServiceImplTest.java
Labels: User

#168 Updated the ReadMe
  README.md
Labels: documentation

#185 Added method to convert CollectableTypeComponents to CollectableTypes
  backend/src/main/java/tech/geocodeapp/geocode/collectable/manager/CollectableTypeManager.java
Labels: Collectable, enhancement

#189 Clean up CollectableType Decorators
  backend/src/main/java/tech/geocodeapp/geocode/collectable/decorator/ExpiringCollectableTypeDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/decorator/GeofencedCollectableTypeDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/decorator/TrackableCollectableTypeDecorator.java
Labels: Collectable
