Repository COS301-SE-2021/GeoCode, pull requests merged in 2021-08, with the labels that each got.

#241 Dev/app layout
  frontend/src/app/tabs/events/events-create/events-create-routing.module.ts
  frontend/src/app/tabs/events/events-create/events-create.module.ts
  frontend/src/app/tabs/events/events-create/events-create.page.html
  frontend/src/app/tabs/events/events-create/events-create.page.scss
  frontend/src/app/tabs/events/events-create/events-create.page.spec.ts
  frontend/src/app/tabs/events/events-create/events-create.page.ts
  frontend/src/app/tabs/events/events-routing.module.ts
  frontend/src/app/tabs/mission/mission-routing.module.ts
  frontend/src/app/tabs/mission/mission.module.ts
  frontend/src/app/tabs/mission/mission.page.html
  frontend/src/app/tabs/mission/mission.page.scss
  frontend/src/app/tabs/mission/mission.page.spec.ts
  frontend/src/app/tabs/mission/mission.page.ts
  frontend/src/app/tabs/tabs-routing.module.ts
Labels: Application

#264 Unit tests for getEventLeaderboard
  backend/src/main/java/tech/geocodeapp/geocode/event/request/GetEventByIDRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/event/response/GetEventByIDResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/event/service/EventService.java
  backend/src/main/java/tech/geocodeapp/geocode/event/service/EventServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/model/Difficulty.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/model/GeoCode.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/request/CreateGeoCodeRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/request/GetGeoCodeByIDRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/response/GetGeoCodeByIDResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeService.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/repository/PointRepository.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/request/GetEventLeaderboardRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/request/GetPointForUserRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/request/UpdatePointRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/response/GetPointForUserResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardService.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/user/request/SwapCollectableRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/LeaderboardServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/PointMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplTest.java
Labels: Leaderboard

#265 updatePoint unit testing and eventID for GeoCodes
  backend/src/main/java/tech/geocodeapp/geocode/geocode/model/GeoCode.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardService.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplTest.java
Labels: Leaderboard

#267 Updated Leaderboard API controllers2
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/controller/LeaderboardApi.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/controller/LeaderboardApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/response/CreateLeaderboardResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/response/GetEventLeaderboardResponse.java
Labels: Leaderboard

#294 Made fetching collectable type dynamic
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
Labels: enhancement, GeoCode, Collectable

#306 swapCollectable calling nextStage
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardService.java
  backend/src/main/java/tech/geocodeapp/geocode/user/request/SwapCollectableRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserService.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/UserMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplTest.java
Labels: User

#311 Fix deleting a point
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/model/Point.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/request/GetEventLeaderboardRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/LeaderboardServiceImplTest.java
Labels: bug, Leaderboard

#314 Created savePoint method
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardService.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/LeaderboardServiceImplTest.java
Labels: enhancement, Leaderboard

#312 updated service code to findByID for getCollectableByID and getCollectableTypeByID
  backend/src/main/java/tech/geocodeapp/geocode/collectable/response/GetCollectableTypeByIDResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/service/CollectableService.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/service/CollectableServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableServiceImplIT.java
Labels: Collectable

#315 Added code coverage
  .github/workflows/sonarcloud  backend.yml
  .github/workflows/sonarcloud frontend.yml
  backend/pom.xml
Labels: enhancement

#318 Dev/mission linking to front end for Demo 3
  backend/src/main/java/tech/geocodeapp/geocode/collectable/model/Collectable.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/controller/MissionApi.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/controller/MissionApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/decorator/ConcreteMission.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/decorator/DistanceMission.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/decorator/GeoCodeMission.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/decorator/MissionComponent.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/decorator/MissionDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/decorator/SwapMission.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/factory/AbstractMissionFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/factory/ConcreteMissionFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/factory/DistanceMissionFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/factory/GeoCodeMissionFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/factory/SwapMissionFactory.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/manager/MissionManager.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/model/Mission.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/model/MissionType.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/repository/MissionRepository.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/request/CreateMissionRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/request/GetMissionByIdRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/request/GetProgressRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/response/CreateMissionResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/response/GetMissionByIdResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/response/GetProgressResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/service/MissionService.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/service/MissionServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/user/controller/UserApi.java
  backend/src/main/java/tech/geocodeapp/geocode/user/controller/UserApiController.java
  backend/src/main/java/tech/geocodeapp/geocode/user/model/User.java
  backend/src/main/java/tech/geocodeapp/geocode/user/request/GetMyMissionsRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/user/response/GetMyMissionsResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserService.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/leaderboard/UserMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/mission/MissionMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/mission/MissionServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/mission/MissionServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplTest.java
Labels: Mission

#321 updateCompletion use case
  backend/src/main/java/tech/geocodeapp/geocode/mission/request/UpdateCompletionRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/response/GetProgressResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/service/MissionService.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/service/MissionServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/user/response/UpdateCompletionResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserServiceImpl.java
Labels: Mission

#319 Updated creation of Collectables in GeoCode
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeService.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplIT.java
Labels: enhancement, GeoCode

#326 Updated creation of GeoCode
  .gitignore
  backend/src/main/java/tech/geocodeapp/geocode/geocode/model/GeoCode.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/model/GeoPoint.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/repository/GeoCodeRepository.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/response/CreateGeoCodeResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeService.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/event/GeoCodeMockService.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
Labels: enhancement, GeoCode

#328 Dev/app events
  backend/src/main/java/tech/geocodeapp/geocode/event/model/Event.java
  backend/src/main/java/tech/geocodeapp/geocode/event/service/EventServiceImpl.java
  frontend/src/app/services/geocode-api/api/leaderboard.service.ts
  frontend/src/app/services/geocode-api/model/collectable.ts
  frontend/src/app/services/geocode-api/model/event.ts
  frontend/src/app/tabs/collectable/add-type/add-type.component.html
  frontend/src/app/tabs/collectable/collectable.page.html
  frontend/src/app/tabs/collectable/collectable.page.scss
  frontend/src/app/tabs/events/event-leaderboard/event-leaderboard.page.html
  frontend/src/app/tabs/events/event-leaderboard/event-leaderboard.page.ts
  frontend/src/app/tabs/events/events-create/create-geocode/create-geocode.component.ts
  frontend/src/app/tabs/events/events-create/events-create.page.html
  frontend/src/app/tabs/events/events-create/events-create.page.ts
  frontend/src/app/tabs/events/events.page.ts
  frontend/src/app/tabs/geocode/geocode-create/geocode-create.page.ts
  frontend/src/app/tabs/geocode/geocode.page.html
  frontend/src/app/tabs/geocode/geocode.page.ts
  frontend/src/app/tabs/profile/profile.page.html
  frontend/src/app/tabs/profile/profile.page.ts
  frontend/src/app/tabs/profile/trackable-locations/trackable-locations.component.ts
  swagger.yaml
Labels: Application

#330 Added code to create missions
  backend/src/main/java/tech/geocodeapp/geocode/collectable/request/CreateCollectableRequest.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/response/CollectableResponse.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/service/CollectableServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/mission/service/MissionServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/collectable/CollectableServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/mission/MissionServiceImplTest.java
  backend/src/test/java/tech/geocodeapp/geocode/user/UserServiceImplTest.java
Labels: Collectable

#334 getEventLeaderboards returning the User's ID as well
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/model/EventLeaderboardDetails.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardService.java
  backend/src/main/java/tech/geocodeapp/geocode/leaderboard/service/LeaderboardServiceImpl.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserService.java
  backend/src/main/java/tech/geocodeapp/geocode/user/service/UserServiceImpl.java
Labels: Leaderboard

#335 Added missionType to the collectableManager
  backend/src/main/java/tech/geocodeapp/geocode/collectable/decorator/CollectableTypeComponent.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/decorator/CollectableTypeDecorator.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/decorator/ConcreteCollectableType.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/manager/CollectableTypeManager.java
Labels: Collectable, Mission

#336 Used custom queries
  backend/src/main/java/tech/geocodeapp/geocode/geocode/model/GeoCode.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/repository/GeoCodeRepository.java
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeMockRepository.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplIT.java
  backend/src/test/java/tech/geocodeapp/geocode/geocode/GeoCodeServiceImplTest.java
Labels: enhancement, GeoCode

#374 Added Update GeoCode use case
  backend/src/main/java/tech/geocodeapp/geocode/geocode/service/GeoCodeServiceImpl.java
Labels: GeoCode

#375 Remove unused Strategy and Add responses to api
  backend/src/main/java/tech/geocodeapp/geocode/collectable/context/CollectableTypeContext.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/controller/CollectableApi.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/manager/CollectableTypeManager.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/strategy/BasicCollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/strategy/CollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/strategy/ExpiringCollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/strategy/GeofencedCollectableTypeStrategy.java
  backend/src/main/java/tech/geocodeapp/geocode/collectable/strategy/TrackableCollectableTypeStrategy.java
Labels: enhancement, Collectable
